<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Movie Recommender System</h1>
    <!-- {{movies}} -->
    <form action="/recommend" method="post">

        <input type="text" name="movie" list="movie_list"
        placeholder="search movie">

        <datalist id="movie_list">
            {% for movie in movies %}
            <option value="{{ movie }}"></option>
            {% endfor %}
        </datalist>
        <input type="submit">
    </form>

</body>
</html>